

.main-container {
    height: 100%;
    position: relative;
    background-color: white;
    .construction-container {
        display: flex;
        position: relative;
        justify-content: center;
        height: 100vh;
        width: 90%;
        background-color: none;
        .construction-row {
            display: flex;
            position: absolute;
            background-color: whitesmoke;
            height: 85%;
            top: 15%;
            border-radius: 20px;
            margin-bottom: 100px;
            border: 4px solid black;
            width: 100%;
            .warning-sign-col {
                width: 100%;
                background-color: none;
                padding-top: 40px;
                height: 20%;
                text-align: center;
                .fa-exclamation-triangle {
                    color: black;
                    animation: pulse 3s infinite;

                }
            }
            .warning-text-col {
                background-color: none;
                display: flex;
                position: absolute;
                width: 100%;
                height: 60%;
                top: 30%;
                justify-content: flex-start;
                flex-direction: column;
                align-items: center;
                h1 {
                    font-size: 60px;
                    letter-spacing: 5px;
                }
                p {
                    font-size: 30px;
                }
                @media screen and (max-width: 700px) {
                    h1 {
                        font-size: 30px;
                    }
                    p {
                        font-size: 20px;
                        text-align: center;
                    }
                }
                @media screen and (max-width: 400px) {
                    h1 {
                        font-size: 20px;
                    }
                    p {
                        font-size: 15px;
                        text-align: center;
                    }
                }
            }
        }
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.6);
    }
    100% {
        transform: scale(1);
    }

}