@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Shadows+Into+Light&display=swap");
.landing-page-main-container {
  position: relative;
  height: 100%;
  background-color: whitesmoke;
  z-index: 1;
}

.landing-page-main-container .circle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 900px;
  height: 900px;
  background-color: #048163;
  -webkit-clip-path: circle(700px at right 100px);
          clip-path: circle(700px at right 100px);
}

@media screen and (max-width: 990px) {
  .landing-page-main-container .circle {
    -webkit-clip-path: circle(600px at left 900px);
            clip-path: circle(600px at left 900px);
    bottom: 0;
    left: 0;
    width: 500px;
    height: 500px;
  }
}

@media screen and (max-width: 500px) {
  .landing-page-main-container .circle {
    -webkit-clip-path: circle(300px at left 300px);
            clip-path: circle(300px at left 300px);
    top: 700px;
    left: 0;
    width: 300px;
    height: 300px;
  }
}

.landing-page-main-container .landing-page-row-1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: none;
  height: 100%;
}

.landing-page-main-container .landing-page-row-1 .landing-page-header-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 800px;
  background-color: none;
}

@media screen and (max-width: 500px) {
  .landing-page-main-container .landing-page-row-1 .landing-page-header-container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: none;
  height: 80%;
}

@media screen and (max-width: 990px) {
  .landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers {
    top: -50px;
  }
}

.landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers h1 {
  font-size: 100px;
  color: black;
  background-color: none;
  padding-left: 100px;
  -webkit-animation: fadedown 2s;
          animation: fadedown 2s;
}

@media screen and (max-width: 1300px) {
  .landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers h1 {
    font-size: 80px;
  }
}

.landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers h3 {
  color: green;
  background-color: none;
  padding-left: 100px;
  font-size: 100px;
  letter-spacing: 4px;
  font-family: "Shadows Into Light", cursive;
  -webkit-animation: fadedown 2s;
          animation: fadedown 2s;
}

.landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers h3 .humble-span {
  color: black;
}

@media screen and (max-width: 1300px) {
  .landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers h3 {
    font-size: 80px;
  }
}

.landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers p {
  background-color: none;
  margin-left: 100px;
  height: 200px;
  width: 500px;
  border-radius: 5px;
  -webkit-animation: popin 1s;
          animation: popin 1s;
  font-size: 25px;
}

.landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers p span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  background-color: none;
  padding: 40px 10px;
}

.landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers p span .fa-angle-double-right {
  font-size: 100px;
  color: rgba(0, 128, 0, 0.575);
  -webkit-animation: bounce 3s infinite;
          animation: bounce 3s infinite;
}

@media screen and (max-width: 990px) {
  .landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers p span {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers .button-container {
  position: absolute;
  top: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10%;
  z-index: 1;
  background-color: none;
}

.landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers .button-container button {
  color: white;
  background-color: black;
  width: 200px;
  border-radius: 20px;
  margin-left: 100px;
  padding: 10px 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border: none;
  text-decoration: none;
}

.landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers .button-container button:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

@media screen and (max-width: 1250px) {
  .landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers h3 {
    text-shadow: 0px 1px 2px black;
  }
  .landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers .button-container {
    width: 100%;
    top: 75%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: none;
  }
  .landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers .button-container button {
    margin-left: 0px;
    width: 200px;
  }
  .landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers .fa-angle-double-right {
    cursor: pointer;
  }
}

@media screen and (max-width: 990px) {
  .landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers .landing-page-headers {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers h1, .landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers h3 {
    text-shadow: none;
    font-size: 80px;
    text-align: center;
    padding-left: 0px;
  }
  .landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers p {
    text-align: center;
    width: 100%;
    margin-left: 0px;
    padding: 0px 0px;
    background-color: none;
  }
  .landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers p span {
    background-color: none;
  }
  .landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers p span .fa-angle-double-right {
    font-size: 60px;
  }
  .landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers .button-container {
    width: 90%;
    top: 75%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: none;
  }
  .landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers .button-container button {
    margin-left: 0;
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers h1 {
    position: absolute;
    top: 0%;
  }
  .landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers h3 {
    position: absolute;
    top: 10%;
  }
  .landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers p {
    position: absolute;
    top: 20%;
    height: 100px;
  }
  .landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers .button-container {
    top: 40%;
  }
}

@media screen and (max-width: 500px) {
  .landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers h1, .landing-page-main-container .landing-page-row-1 .landing-page-header-container .landing-page-headers h3 {
    font-size: 40px;
  }
}

.landing-page-main-container .landing-page-row-1 .landing-page-shake-container {
  position: relative;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: none;
}

@media screen and (max-width: 990px) {
  .landing-page-main-container .landing-page-row-1 .landing-page-shake-container {
    position: absolute;
    top: 30%;
    padding-top: 300px;
    padding-bottom: 300px;
    height: 600px;
  }
}

@media screen and (max-width: 500px) {
  .landing-page-main-container .landing-page-row-1 .landing-page-shake-container {
    margin-top: 130px;
  }
}

.landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-display-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60%;
  top: 5%;
  width: 100%;
  background-color: none;
}

.landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-display-container .tea-pic {
  height: 550px;
  width: 550px;
  -webkit-animation: popin 1.5s;
          animation: popin 1.5s;
}

@media screen and (max-width: 990px) {
  .landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-display-container .tea-pic {
    position: absolute;
    left: 0;
    top: 90px;
    height: 300px;
    width: 300px;
  }
}

@media screen and (max-width: 500px) {
  .landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-display-container .tea-pic {
    position: relative;
    top: 50px;
  }
}

@media screen and (max-width: 990px) {
  .landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-display-container {
    height: 50%;
    top: 15%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-color: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-selector-container {
  position: absolute;
  bottom: 10%;
  margin-top: 20px;
  height: 20%;
  width: 60%;
  background-color: none;
}

@media screen and (max-width: 500px) {
  .landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-selector-container {
    width: 95%;
  }
}

.landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-selector-container .glide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: none;
  height: 100%;
}

.landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-selector-container .glide .glide__track {
  height: 100%;
  background-color: none;
}

.landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-selector-container .glide .glide__track .glide__slides {
  height: 100%;
  background-color: none;
}

.landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-selector-container .glide .glide__track .glide__slides .slide1 {
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-selector-container .glide .glide__track .glide__slides .slide1 .tea1 {
  height: 80px;
  width: 80px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-selector-container .glide .glide__track .glide__slides .slide1 .tea1:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-selector-container .glide .glide__track .glide__slides .slide2 {
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-selector-container .glide .glide__track .glide__slides .slide2 .tea2 {
  height: 80px;
  width: 80px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-selector-container .glide .glide__track .glide__slides .slide2 .tea2:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-selector-container .glide .glide__track .glide__slides .slide3 {
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-selector-container .glide .glide__track .glide__slides .slide3 .tea3 {
  height: 80px;
  width: 80px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-selector-container .glide .glide__track .glide__slides .slide3 .tea3:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-selector-container .glide .glide__track .glide__slides .slide4 {
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-selector-container .glide .glide__track .glide__slides .slide4 .tea4 {
  height: 80px;
  width: 80px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-selector-container .glide .glide__track .glide__slides .slide4 .tea4:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-selector-container .glide .slide-arrow {
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: none;
  left: 0;
  z-index: 0;
}

.landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-selector-container .glide .slide-arrow .glide__arrow--left, .landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-selector-container .glide .slide-arrow .glide__arrow--right {
  background: none;
  text-decoration: none;
  border-radius: 50%;
  outline: none;
  border: none;
}

.landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-selector-container .glide .slide-arrow .glide__arrow--left .fa-arrow-left, .landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-selector-container .glide .slide-arrow .glide__arrow--left .fa-arrow-right, .landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-selector-container .glide .slide-arrow .glide__arrow--right .fa-arrow-left, .landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-selector-container .glide .slide-arrow .glide__arrow--right .fa-arrow-right {
  color: black;
}

.landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-selector-container .glide .slide-arrow .glide__arrow--left .fa-arrow-left:hover, .landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-selector-container .glide .slide-arrow .glide__arrow--left .fa-arrow-right:hover, .landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-selector-container .glide .slide-arrow .glide__arrow--right .fa-arrow-left:hover, .landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-selector-container .glide .slide-arrow .glide__arrow--right .fa-arrow-right:hover {
  color: black;
}

.landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-selector-container .glide .slide-arrow2 {
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: none;
  right: 0;
  border: none;
  z-index: 0;
}

.landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-selector-container .glide .slide-arrow2 .glide__arrow--right {
  background: none;
  text-decoration: none;
  border-radius: 50%;
  outline: none;
  border: none;
}

.landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-selector-container .glide .slide-arrow2 .glide__arrow--right .fa-arrow-right {
  color: black;
}

.landing-page-main-container .landing-page-row-1 .landing-page-shake-container .shake-selector-container .glide .slide-arrow2 .glide__arrow--right .fa-arrow-right:hover {
  color: black;
}

@media screen and (max-width: 500px) {
  .shake-selector-container {
    height: 100%;
    background-color: red;
  }
}

.tea1-colors {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#07c7d4), to(yellow));
  background-image: linear-gradient(to bottom right, #07c7d4, yellow);
}

@-webkit-keyframes fadedown {
  0% {
    opacity: 0%;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadedown {
  0% {
    opacity: 0%;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes popin {
  0% {
    opacity: 0%;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 100%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes popin {
  0% {
    opacity: 0%;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 100%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: rotate(28deg);
            transform: rotate(28deg);
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    -webkit-transform: rotate(28deg);
            transform: rotate(28deg);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: rotate(28deg);
            transform: rotate(28deg);
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: rotate(28deg);
            transform: rotate(28deg);
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    -webkit-transform: rotate(28deg);
            transform: rotate(28deg);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: rotate(28deg);
            transform: rotate(28deg);
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translate(1);
            transform: translate(1);
  }
  50% {
    -webkit-transform: translate(0.5);
            transform: translate(0.5);
  }
  100% {
    -webkit-transform: translate(1);
            transform: translate(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: translate(1);
            transform: translate(1);
  }
  50% {
    -webkit-transform: translate(0.5);
            transform: translate(0.5);
  }
  100% {
    -webkit-transform: translate(1);
            transform: translate(1);
  }
}
/*# sourceMappingURL=landingpage.css.map */