@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
/*SCSS variables*/
/*          FONTS             */
$dancingfont: 'Dancing Script', cursive;
/*          COLORS            */
$greencolor1: rgb(30, 228, 30);
/*  Transition durations  */
$transitionGreen1: 0.5s;
/*  SHADOWS   */
$boxshadow1: 1px 0px 0px black;

/*          FIRST CONTAINER           */


/*          SCROLL BAR            */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(51, 50, 50);
  }