@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
/*SCSS variables*/
/*          FONTS             */
$dancingfont: 'Dancing Script', cursive;
/*          COLORS            */
$greencolor1: rgb(30, 228, 30);
/*  Transition durations  */
$transitionGreen1: 0.5s;
/*  SHADOWS   */
$boxshadow1: 1px 0px 0px black;

/*          FIRST CONTAINER           */
.menu-outside-container {
    background-color: rgb(51, 50, 50);
    height: 100%;
    width: 100%;
    padding: 50px 0px;

    .menu-container {
        height: 100%;
        width: 70%;
      
        background-color: white;
        box-shadow: 1px  0px 10px black;

        .menu-nav-bar {
            height: 50px;
            background-color: black;
            .menu-nav-col-1 {
                background-color: none;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    
        .menu-title-box {
            display: flex;
            flex-direction: row;
            .menu-col-1 {
                
                background-color: none;
                .menu-title-info-box {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: none;
                    h3 {
                        font-weight: 900;
                    }
                    h1 {
                        margin: -10px 0px;
                        font-family: $dancingfont;
                        letter-spacing: 20px;
                    }
                    p {
                        padding: 5px;
                        letter-spacing: 5px ;
                    }
                    a {
                        text-decoration: none;
                        color:  black;
                        transition: transform 1s;
                        &:hover {
                            
                            transform: scale(1.5);
                        }
                    }
                }
            }
        }
        .menu-col-2 {
            background-color: none;
            .unsweet-teas-box {
                display: flex;
                flex-direction: column;

                .unsweet-teas-box-header{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    padding: 0px 10px;
                }
                .smoothie-svg {
                    height: 50px;
                }
                h1 {
                    text-align: center;
                }
                li {
                    font-size: 20px;
                    letter-spacing: 5px;
                    text-align: center;
                }
            }
        }
        .menu-col-3 {
            background-color: none;
            .sweet-teas-box {
                display: flex;
                flex-direction: column;
                .sweet-teas-box-header {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    padding: 0px 10px;
                }
                .smoothie-svg {
                    height: 50px;
                }
                h1 {
                    color: black;
                    text-align: center;
                }
                li {
                    text-align: center;
                }
            }
        }
        .menu-col-4 {
            background-color: none;
            .sweet-teas-box {
                display: flex;
                flex-direction: column;
                .speciality-header-box {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 0px 10px;
                    .smoothie-svg {
                        height: 50px;
                    }
                }

                h1 {
                    color: black;
                    text-align: center;
                }
                li {
                    text-align: center;
                }
            }
        }
        .menu-col-5 {
            background-color: none;
            .sweet-teas-box {
                display: flex;
                flex-direction: column;
                .addon-header-box {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 0px 10px;
                    .smoothie-svg {
                        height: 30px;

                    }
                }
                h1 {
                    color: black;
                    text-align: center;
                }
                li {
                    text-align: center;
                }
            }
        }

    }
    .smoothie-row {
        display: flex;
        justify-content: center;
        background-color: none;
        border-radius: 50px;
        .smoothie-header-col {
            display: flex;
            flex-direction: row;
            justify-content: center;
            background-color: none;
            .smoothie-svg {
                height: 50px;
            }
        }
        .smoothie-list-1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: none;
            .smoothie-list-items-1 {
                list-style-type: none;
            }
        }
        .smoothie-list-2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: none;
            .smoothie-list-items-2 {
                list-style-type: none;
            }
        }
    }
}

/*          SCROLL BAR            */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(51, 50, 50);
  }