@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Shadows+Into+Light&display=swap");
/*SCSS variables*/
/*          FONTS             */
/*COLORS*/
/*  Transition durations  */
/*  SHADOWS   */
body {
  background-color: none;
}

/*                  CAROUSEL                      */
.carousel-item {
  height: 95vh;
  background-color: black;
  color: white;
  position: relative;
}

.carousel-item .overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

.carousel-item .overlay-image-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

@media screen and (max-width: 930px) {
  .carousel-item .overlay-image-1 {
    background: url("/css/pictures/HNslidesmall.jpg");
  }
}

.carousel-item .container {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  border-radius: 20px;
  padding: 10px 50px;
  background-color: rgba(22, 16, 16, 0.404);
}

.carousel-item .container .carousel-h1 {
  text-shadow: 0px 0px 5px black;
}

/*          Second container          */
.second-container {
  position: relative;
  height: 100%;
  z-index: 10;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: whitesmoke;
}

@media screen and (max-width: 1000px) {
  .second-container {
    top: 20%;
  }
}

.second-container .second-row {
  height: 100%;
  background: none;
  /*            ABOUT ME ROW                */
  /*            HOURS ROW           */
  /*          MENU ROW              */
}

.second-container .second-row .second-row-col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 0px black;
          box-shadow: 0px 0px 0px black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: NONE;
  padding: 10px 0px;
}

.second-container .second-row .second-row-col-1 .about-me-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.second-container .second-row .second-row-col-1 .about-me-section .about-me-img {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  border-radius: 50%;
  background-image: url(./pictures/ashley1.PNG);
  background-position: center;
  background-size: cover;
}

.second-container .second-row .second-row-col-1 .about-me-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: NONE;
}

.second-container .second-row .second-row-col-1 .about-me-info .about-me-h1 {
  text-align: center;
  letter-spacing: 5px;
}

.second-container .second-row .second-row-col-1 .about-me-info .about-me-p {
  text-align: center;
}

.second-container .second-row .second-row-col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 0px black;
          box-shadow: 0px 0px 0px black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: none;
  padding: 10px 0px;
}

.second-container .second-row .second-row-col-2 .hours-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.second-container .second-row .second-row-col-2 .hours-section .hours-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-image: url(./pictures/clock.png);
  background-position: center;
  background-size: cover;
}

.second-container .second-row .second-row-col-2 .hours-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: none;
}

.second-container .second-row .second-row-col-2 .hours-info .hours-h1 {
  padding-top: 5px;
  text-align: center;
  letter-spacing: 5px;
}

.second-container .second-row .second-row-col-2 .hours-info .hours-p {
  text-align: center;
}

.second-container .second-row .second-row-col-2 .hours-info .hours-p .curbside-span {
  letter-spacing: 0px;
}

.second-container .second-row .second-row-col-2 .hours-info .hours-p .hours-days-span {
  letter-spacing: 0px;
}

.second-container .second-row .second-row-col-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 0px black;
          box-shadow: 0px 0px 0px black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: none;
  padding: 10px 0px;
}

.second-container .second-row .second-row-col-3 .menu-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.second-container .second-row .second-row-col-3 .menu-section .menu-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-image: url(./pictures/coffee1.PNG);
  background-position: center;
  background-size: cover;
}

.second-container .second-row .second-row-col-3 .menu-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: none;
}

.second-container .second-row .second-row-col-3 .menu-info .menu-h1 {
  text-align: center;
  letter-spacing: 5px;
}

.second-container .second-row .second-row-col-3 .menu-info .menu-p {
  text-align: center;
}

.second-container .second-row .second-row-col-3 .menu-info .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.second-container .second-row .second-row-col-3 .menu-info .button-container .menu-button {
  color: white;
  cursor: pointer;
}

hr.feauturette-divider {
  position: relative;
  height: 0.5px;
  margin: 100px 0px;
  color: black;
}

/*THIRS CONTAINER/STAFF PICTURE CONTAINER */
.local-owned-container {
  height: 100%;
  background-color: black;
}

.local-owned-container .local-owned-staff-row {
  height: 60vh;
  background-color: black;
}

.local-owned-container .local-owned-staff-row .local-owned-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-image: url(./pictures/staffpicpng.png);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 500px) {
  .local-owned-container .local-owned-staff-row .local-owned-col {
    background-size: none;
    background-repeat: none;
    background-position: center;
    background-image: url(/css/pictures/staffpicmobile.jpg);
  }
}

.local-owned-container .local-owned-staff-row .local-owned-col .local-owned-info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, 0.411);
  width: 50%;
}

@media screen and (max-width: 930px) {
  .local-owned-container .local-owned-staff-row .local-owned-col .local-owned-info-box {
    width: 100%;
  }
}

.local-owned-container .local-owned-staff-row .local-owned-col .local-owned-info-box .locally-owned-h1 {
  letter-spacing: 5px;
  color: white;
}

.local-owned-container .local-owned-staff-row .local-owned-col .local-owned-info-box .locally-owned-p {
  color: white;
  font-size: 20px;
}

@media screen and (max-width: 930px) {
  .local-owned-container .local-owned-staff-row .local-owned-col .local-owned-info-box .locally-owned-p {
    height: 80px;
    overflow-y: scroll;
  }
}

.instagram-container {
  position: relative;
  background-color: none;
  height: 100%;
}

.instagram-container .instagram-feed-row {
  height: 100%;
  background-color: none;
}

.instagram-container .instagram-feed-row .instagram-img-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: none;
  height: 100%;
}

.instagram-container .instagram-feed-row .instagram-img-col img {
  cursor: pointer;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  background-color: none;
}

.instagram-container .instagram-feed-row .instagram-img-col img:hover {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

@media screen and (max-width: 1200px) {
  .instagram-container .instagram-feed-row .instagram-img-col img {
    height: 600px;
    width: 600px;
  }
}

@media screen and (max-width: 990px) {
  .instagram-container .instagram-feed-row .instagram-img-col img {
    height: 500px;
    width: 500px;
  }
}

@media screen and (max-width: 500px) {
  .instagram-container .instagram-feed-row .instagram-img-col img {
    height: 300px;
    width: 300px;
  }
}

.instagram-container .instagram-feed-row .instagram-text-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 20%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: none;
}

@media screen and (max-width: 1200px) {
  .instagram-container .instagram-feed-row .instagram-text-col {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: none;
    height: 400px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.instagram-container .instagram-feed-row .instagram-text-col h1 {
  color: black;
  position: absolute;
  top: 35%;
  font-size: 50px;
  letter-spacing: 5px;
  font-weight: 900;
  font-family: "Shadows Into Light", cursive;
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
  .instagram-container .instagram-feed-row .instagram-text-col h1 {
    font-size: 35px;
    top: 50px;
    letter-spacing: 0px;
  }
}

.instagram-container .instagram-feed-row .instagram-text-col p {
  color: black;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  padding: 0px 90px;
  height: 100px;
  background-color: none;
  position: absolute;
  top: 45%;
}

@media screen and (max-width: 500px) {
  .instagram-container .instagram-feed-row .instagram-text-col p {
    font-size: 20px;
    padding: 0px 20px;
    top: 25%;
  }
}

.instagram-container .instagram-feed-row .instagram-text-col .instagram-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 55%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10%;
  margin-top: 30px;
  background-color: none;
}

.instagram-container .instagram-feed-row .instagram-text-col .instagram-icon-container .fa-instagram {
  color: black;
  padding: 20px;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.instagram-container .instagram-feed-row .instagram-text-col .instagram-icon-container .fa-instagram:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: black;
}

@media screen and (max-width: 500px) {
  .instagram-container .instagram-feed-row .instagram-text-col .instagram-icon-container {
    top: 45%;
  }
}

/*              THIRD CONTAINER           */
.third-container {
  position: relative;
  height: 100%;
  background-color: black;
}

.third-container .third-row {
  z-index: 1;
  height: 50vh;
  background-color: white;
}

.third-container .third-row .third-row-col-1 {
  background-color: none;
}

.third-container .third-row .third-row-col-1 .location-info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: none;
}

.third-container .third-row .third-row-col-1 .location-info-box .location-info-h1 {
  letter-spacing: 5px;
  text-align: center;
}

.third-container .third-row .third-row-col-1 .location-info-box .location-info-p {
  text-align: center;
  line-height: 30px;
  padding: 0px 100px;
}

@media screen and (max-width: 500px) {
  .third-container .third-row .third-row-col-1 .location-info-box .location-info-p {
    padding: 0px;
  }
}

.third-container .third-row .google-maps-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.third-container .third-row .google-maps-container .iframe {
  width: 900px;
}

/*          FOOTER CONTAINER            */
.main-footer-container {
  position: relative;
  margin: 400px 0px 0px 0px;
  background-color: black;
}

.main-footer-container .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 200px;
  height: 100%;
  background-color: black;
}

.main-footer-container .footer-container .info-row-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.main-footer-container .footer-container .info-row-container .company-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 200px;
  padding: 10px 20px;
}

.main-footer-container .footer-container .info-row-container .company-col .company-info-box {
  background-color: none;
}

.main-footer-container .footer-container .info-row-container .company-col .company-info-box .footer-headers {
  letter-spacing: 2px;
  color: white;
  text-align: center;
}

.main-footer-container .footer-container .info-row-container .company-col .company-info-box .company-info-p {
  color: white;
  text-align: start;
}

.main-footer-container .footer-container .info-row-container .products-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 200px;
  padding: 10px 20px;
}

.main-footer-container .footer-container .info-row-container .products-col .products-info-box {
  background-color: none;
}

.main-footer-container .footer-container .info-row-container .products-col .products-info-box .footer-headers {
  letter-spacing: 2px;
  color: white;
  text-align: center;
}

.main-footer-container .footer-container .info-row-container .products-col .products-info-box .product-links {
  color: white;
}

.main-footer-container .footer-container .info-row-container .useful-links-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 20px;
  height: 200px;
  background-color: none;
}

.main-footer-container .footer-container .info-row-container .useful-links-col .useful-links-box {
  background-color: none;
}

.main-footer-container .footer-container .info-row-container .useful-links-col .useful-links-box .footer-headers {
  letter-spacing: 2px;
  color: white;
  text-align: center;
}

.main-footer-container .footer-container .info-row-container .useful-links-col .useful-links-box .use-links {
  color: white;
}

.main-footer-container .footer-container .info-row-container .contact-info-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 200px;
  padding: 10px 20px;
}

.main-footer-container .footer-container .info-row-container .contact-info-col .contact-info-box {
  background-color: none;
}

.main-footer-container .footer-container .info-row-container .contact-info-col .contact-info-box .footer-headers {
  color: white;
  text-align: center;
}

.main-footer-container .footer-container .info-row-container .contact-info-col .contact-info-box .contact-links {
  color: white;
}

.main-copyright-container {
  background-color: black;
}

.main-copyright-container .copyright-container {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-copyright-container .copyright-container .copyright-p {
  color: white;
}

.main-copyright-container .copyright-container .copyright-p .copyright-span1 {
  color: green;
}

/*          SCROLL BAR            */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333232;
}
/*# sourceMappingURL=style.css.map */